.card {
    max-width: 300px;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    position: relative;
    background-color: rgba(133, 30, 30, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card > img {
    width: 100%;
    border-radius: 8px;
    background-color: #e6e6e6;
    padding: 1rem;
    object-fit: cover;
}

.card > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.card > div button {
    padding: 0.2rem 0.5rem;
}